<!DOCTYPE html>
<html>
<head>
    <title>TITLE HERE</title>
    <meta charset="utf-8" />

    <!-- base libraries: jQuery (2.1.4), bootstrap (3.1.1) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- VueJS (0.12.16) -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.0-rc.2/vue.min.js"></script>

    <!-- sample styles -->
    <link href="Content/samples.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h1>Vue Samples Collection</h1>
        <div style="float:right;vertical-align:bottom;">
            <a href="http://vuejs.org">Vue</a> (<a href="https://github.com/vuejs/awesome-vue">resources</a>)
            | <a href="http://getbootstrap.com/">Bootstrap</a>
            | <a href="http://www.typescriptlang.org/">TypeScript</a>
        </div>
    </header>
    <main>
        <nav>
            <div id="ListOfSamples"></div>
        </nav>
        <article>

            <!-- http://knockoutjs.com/examples/simpleList.html -->
            <h1>Simple list example</h1>
            <p>
                This example demonstrates binding to an array of values.
            </p>
            <p>
                Notice how the “Add” button is enabled only when you have entered some text - check the HTML source code to see how to use the “enable” binding.
            </p>

            <div id="sample" v-cloak>
                <h2>Live Example</h2>
                <div class="liveExample">
                    <form v-on:submit="addItem">
                        New item:
                        <input v-model='itemToAdd' />
                        <button type="submit" v-enable="itemToAdd.length > 0">Add</button>
                        <p>Your items:</p>
                        <select multiple style="width:100%;" v-model="selected" options="items">
                            <option v-for="item in items" :value="item">{{item}}</option> 
                        </select>
                    </form>
                </div>

                <script type="text/javascript">var htmlSample = $('.liveExample').html();</script>
                <source-view title="Source code: view" selector=".liveExample"></source-view>
                <source-view title="Source code: view model" url="ScriptsLocal/Sample.KO3.ts"></source-view>
            </div>

        </article>
    </main>

    <!-- local scripts -->
    <script src="ScriptsLocal/Utils.js"></script>
    <script type="text/javascript">
        loader.baseURL = document.URL.substr(0, document.URL.lastIndexOf('/'));
        loader('ListOfSamples.html').then(function (s) { new Vue({ el: '#ListOfSamples', template: s }); });
    </script>
    <script src="ScriptsLocal/components/directives.js"></script>
    <script src="ScriptsLocal/components/SourceView.js"></script>

    <!-- page's script here -->
    <script src="ScriptsLocal/Sample.KO3.js"></script>

</body>
</html>
