<!DOCTYPE html>
<html>
<head>
    <title>TITLE HERE</title>
    <meta charset="utf-8" />

    <!-- base libraries: jQuery (2.1.4), bootstrap (3.1.1) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- VueJS (0.12.16) -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.0-rc.1/vue.min.js"></script>

    <!-- sample styles -->
    <link href="Content/samples.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h1>Vue Samples Collection</h1>
        <div style="float:right;vertical-align:bottom;">
            <a href="http://vuejs.org">Vue</a> (<a href="https://github.com/vuejs/awesome-vue">resources</a>)
            | <a href="http://getbootstrap.com/">Bootstrap</a>
            | <a href="http://www.typescriptlang.org/">TypeScript</a>
        </div>
    </header>
    <main>
        <nav>
            <div id="ListOfSamples"></div>
        </nav>
        <article>

            <!-- http://knockoutjs.com/examples/betterList.html -->
            <h1>Better list example</h1>
            <p>
                This example builds on the earlier simple list example by making it possible to remove items (with multi-selection) and to sort the list. The “remove” and “sort” buttons become disabled if they are not applicable (e.g., if there aren’t enough items to sort).
            </p>
            <p>
                Check out the HTML source code to see how little code all this takes. This example also shows how you can use function literals in bindings (see the binding for ‘sort’).
            </p>

            <div id="sample" v-cloak>
                <h2>Live Example</h2>
                <div class="liveExample">
                    <form v-on:submit="addItem">
                        New item:
                        <input v-model='itemToAdd' />
                        <button type="submit" v-enable="itemToAdd.length > 0">Add</button>
                    </form>
                    <p>Your values:</p>
                    <select multiple style="width:100%;" v-model="selected">
                        <option v-for="item in items" :value="item">{{item}}</option>
                    </select>
                    <div>
                        <button v-on:click="removeSelected()" v-enable="selected.length > 0">Remove</button>
                        <button v-on:click="sortItems()" v-enable="items.length > 1">Sort</button>
                    </div>
                </div>

                <script type="text/javascript">var htmlSample = $('.liveExample').html();</script>
                <source-view title="Source code: view" selector=".liveExample"></source-view>
                <source-view title="Source code: view model" url="ScriptsLocal/Sample.KO4.ts"></source-view>
            </div>

        </article>
    </main>

    <!-- local scripts -->
    <script src="ScriptsLocal/Utils.js"></script>
    <script type="text/javascript">
        loader.baseURL = document.URL.substr(0, document.URL.lastIndexOf('/'));
        loader('ListOfSamples.html').then(function (s) { new Vue({ el: '#ListOfSamples', template: s }); });
    </script>
    <script src="ScriptsLocal/components/directives.js"></script>
    <script src="ScriptsLocal/components/SourceView.js"></script>

    <!-- page's script here -->
    <script src="ScriptsLocal/Sample.KO4.js"></script>

</body>
</html>
