<script id="VTabPanel" type="text/x-template">
	start
	<div role="tabpanel" class="panel panel-default">
		<ul class="nav nav-tabs" role="tablist">
			<!-- class="active" -->
			<li role="presentation" v-repeat="tabs">
				<a v-attr="href: '#' + id, 'aria-controls': id" role="tab" data-toggle="tab">{{header}}</a>
			</li>
		</ul>
		<div class="tab-content panel-body">
			<!-- class="active" -->
			<div role="tabpanel" class="tab-pane" 
				 v-attr="id: id">
				You can activate a tab or pill navigation without writing any JavaScript by simply specifying data-toggle="tab" or data-toggle="pill" on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap tab styling, while adding the nav and nav-pills classes will apply pill styling.
			</div>
			<div role="tabpanel" class="tab-pane" id="tab02">
				Extend form controls by adding text or buttons before, after, or on both sides of any text-based. Use .input-group with an .input-group-addon to prepend or append elements to a single .form-control.
			</div>
			<div role="tabpanel" class="tab-pane" id="tab03">
				Navs available in Bootstrap have shared markup, starting with the base .nav class, as well as shared states. Swap modifier classes to switch between each style.
				Using navs for tab panels requires JavaScript tabs plugin
				For tabs with tabbable areas, you must use the tabs JavaScript plugin. The markup will also require additional role and ARIA attributes

			</div>
			<div role="tabpanel" class="tab-pane" id="tab04">
				Easily make tabs or pills equal widths of their parent at screens wider than 768px with .nav-justified. On smaller screens, the nav links are stacked.
				Justified navbar nav links are currently not supported.
				Safari and responsive justified navs
				As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing. This bug is also shown in the justified
			</div>
		</div>
	</div>
	end
</script>
